<!DOCTYPE html>
<html>

<head>
  <title>My Blog</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <header>
<a href="#" class="logo">🖋️MyBlog</a>
<ul>
  <button class="hdr-btn">+ Write</button>
</ul>
  </header>
  <main>